


<h1>Login or Sign Up</h1>

<%= form_for @user, url: '/login' do |f| %>
  <%= f.label "Email" %>
  <%= f.text_field :email %>
  <%= f.label "Password" %>
  <%= f.text_field :password %>
  <div class="row">
    <p><%= f.submit "Log In", { class: "btn"} %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Sign Up", "/signup", { class: 'btn'} %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Continue with Google", "/auth/google_oauth2", { method: :post, class: 'btn' } %></p>
  </div>
<% end %>