
<div class="row" style="display:block">
  <h4 style="float:left"><%= "Welcome, #{@user.first_name}" %></h4> <img class="right" src=<%= session[:image] if session[:image] %>>
</div>



<h6><%= "Here's your spending for the month of #{Time.now.strftime("%B")}:" %></h6>

<div class="row" style="margin:auto;">
  <div class="col s2"><h6>Name: </h6></div>
  <div class="col s2"><h6>Date: </h6></div>
  <div class="col s1"><h6>Total: </h6></div>
  <div class="col s3"><h6>Notes: </h6></div>
  <div class="col s2"><h6> Category: </h6></div>
</div>
  <% Purchase.current_month_purchases(@user).each do |pur| %>
    <div class="row" style="display:block">
      <%= render partial: '/purchases/purchase', locals: { purchase: pur } %>
    </div>
  <% end %>

<br><br>

<div class="row">
  <div style="display:inline-block; margin-right:10px;">
    <%= "Your total for the month is " %><div style="font-weight:bold; display:inline-block; margin-right:10px;"><%= "$#{current_month_total}" %></div>
  </div>
  <div style="display:inline-block;">
    <%= "This is #{(current_month_total / signed_in_user.income) * 100}% of your monthly income." %>
  </div>
</div>



<br><br><%= link_to "View All Purchases", user_purchases_path(@user), class: 'btn' %>


