
<div class="row" style="display:block">
  <h4 style="float:left"><%= "Welcome, #{@user.first_name}" %></h4> <img class="right" style="width:96px; height:96px" src=<%= session[:image] if session[:image] %>>
</div>



<h6><%= "Here's your spending for the month of #{Time.now.strftime("%B")}:" %></h6>


  <%= render partial: '/purchases/purchase_headers' %>

  <% Purchase.current_month_purchases(@user).each do |pur| %>
    <div class="row" style="margin-bottom:0px">
      <%= render partial: '/purchases/purchase', locals: { purchase: pur } %>
    </div>
  <% end %>

<br><br>

<div class="row">
  <div style="display:inline-block; margin-right:10px;">
    <%= "Your total for the month is " %><div style="font-weight:bold; display:inline-block; margin-right:10px;"><%= "$#{current_month_total}" %></div>
  </div>
  <div style="display:inline-block;">
    <%= "This is #{percent_of_income}% of your monthly income." %>
  </div>
</div>



<br><br><%= link_to "View All Purchases", user_purchases_path(@user), class: 'btn' %>


