



    <div class="col s2" style="padding: 20px 0;"> <%= purchase.location.titleize %></div>
    <div class="col s2" style="padding: 20px 0;"> <%= purchase.date %></div>
    <div class="col s1" style="padding: 20px 0;"> $<%= purchase.total  %></div>
    <div class="col s3" style="padding: 20px 0;"><%= purchase.note %></div>
    <div class="col s2" style="padding: 20px 0;"> <%= purchase.category.name if purchase.category %> </div>


