<!DOCTYPE html>
<html>
  <head>
    <title>OnTrack2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">On Track</a>
        <% if signed_in_user %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href=<%= user_purchases_path(signed_in_user) %>>Purchases</a></li>
            <li><a href=<%= new_user_purchase_path(signed_in_user) %>>New Purchase</a></li>
            <li><a href=<%= edit_user_path(signed_in_user) %>>Edit my information</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="container" style="padding-top: 20px">
      <%= flash[:alert] if flash[:alert] %>
      <%= yield %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();</script>
  </body>
</html>
